/* .custom-btn > a {
    padding: 10px 15px;
    background: rgb(var(--green-color));
    color: white !important;
    text-decoration: none !important;
    font: 400 14px/45px var(--font-one);
    display: inline-block;
    z-index: 1;
    position: relative;
    cursor: pointer;
} */
section.our_partner.pt-5.pb-2 {
    box-shadow: inset 0px -7px 18px -15px rgb(var(--black-color));
}